# Configuration created by Apache Sling JCR Installer
supportscredentials=B"true"
exposedheaders=[""]
supportedmethods=["GET","HEAD","POST"]
alloworigin=[".*"]
maxage=I"1800"
alloworiginregexp=[".*"]
allowedpaths=[".*"]
supportedheaders=["Origin","Accept","X-Requested-With","Content-Type","Access-Control-Request-Method","Access-Control-Request-Headers"]
